body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../app/images/backgroundpattern1.jpg');
  overflow-x:hidden; 
}

hr {
  border-style:dashed;  
  width: 85%;
  border-width:1px;
}


#carousel-holder {
  background: linear-gradient(to right, #24123d, #412070);
    overflow-x:hidden; 
}

#left-blurb {
  background-color: #282828;
}

#main-content {
  background-color: #7d49c6;
}
    #main-content img {
    max-width:200px;
  }

  #main-content h1 {
    color: white;
  }

  #main-content .header-container {
    background-color: #282828;
  }

  #main-content p {
    color: #d8c5e5;
  }

  #main-content img {
    border-style: solid;
    border-width: 5px;
    border-color: #282828;
  }

  #main-content li {
    color: #d8c5e5;
  }

  #main-content .class-description p{
    color: #282828;
  }

    #main-content .card-header{
    background-color: #282828;
    color: white;
  }

  #instructor-list .card-deck{
      background-color:#282828;
  }

    #instructor-list .card{
      background-color:#282828;
  }

      #instructor-list .card-title{
      color:white;
  }

#footer {
  background-color: #282828;
  color: #FFFFFF;
  min-height: 200px;
}

  #footer img {
    max-width: 285px;
    height: auto;
  }

.btn-default {
  background-color: #282828;
  color: #d8c5e5;
  cursor:pointer;
}

.btn-default:hover {
  color:white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}

#map {
  border-style: solid;
  overflow:hidden;
    height: 300px;
  width: 600px;
}


@media (min-width: 769px){
    #main-content img {
    max-width:800px;
  }
}

/*hiding facebook blurb*/
@media (max-width: 1500px) {
  #left-blurb {
    display: none;
  }

}

@media (max-width: 1200px) {
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }

  #mainCarousel .carousel-item img {
    max-width: 800px;
    height:400px;
  }

    #main-content img {
    max-width:500px;
  }
  #map {
  width: 400px;
}
}

/*tablets*/
@media screen and (max-width: 768px) {
#main-content h1 {
  font-size: 30px; 
}

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }

  #mainCarousel .carousel-item img {
    max-width: 600px;
    height:300px;
  }

    #main-content img {
    max-width:400px;
  }

  #mbo-mobile-apps{
  display:block;  
}

}

/*phones*/
@media screen and (max-width: 480px) {
#main-content h1 {
  font-size: 25px; 
}

#main-content h3 {
  font-size: 20px; 
}

    #main-content img {
    max-width:300px;
  }

  #mainCarousel .carousel-item img {
    max-width: 400px;
    height: 200px;
  }

  #map {
  width: 300px;
}
}


@media screen and (max-width: 380px){
  #mainCarousel .carousel-item img {
    max-width: 300px;
    height: 150px;
  }
  #main-content h1 {
  font-size: 20px; 
}
  #map {
  width: 300px;
}
}



