<div class="container-fluid clearfix">
  <div class="header-container row rounded-top p-2 pl-3">
    <h1>About Fort Wayne Aerial</h1>
  </div>
  <div class="p-2">
    <p class="lead">Our staff is dedicated to giving you the best pole dance and aerial instruction the industry has to offer.</p>
    <div class="">
      <img class="rounded m-2 thumbnail mx-auto d-block" src="/app/images/large/daniellefloor2_lg.jpg" />
    </div>
    <p>At Fort Wayne Aerial our main goal is to provide a safe welcoming environment for women (and men!) to explore movement with a wide variety of styles and apparatuses. Our primary focus is on the empowering movement of pole dance. Along with our many pole dance classes that we offer we also provide aerial hoop, aerial fabric, chair dance, calisthenic training classes and more. Our drop in classes alongside our level-specific programs allow students to attend and progress at their own pace. </p>
<p>At Fort Wayne Aerial we take pride in our instruction quality and versatility! With over 15 years of combined aerial and dance experience, our instructors are prepared to modify any and all content to find what works best for each student, no matter what their current fitness level is! </p>
<p>Our studio is located inside the newly renovated Jefferson Crossing Mall in Southwest Fort Wayne, Indiana! Enter through our spacious pole studio where the magic happens. We currently have SIX poles that are 12.5 feet tall!! Our aerial room with viewing window allows for great aerial instruction in an separate, intimate, space. Our studio also features a private break room and bathroom for our members to use.</p>
<p>Join us for a private session for yourself or a group of your friends, take your first drop in class, or jump right in with a larger membership package and see what all the fuss is all about with the HOTTEST craze in fitness. You’re not too weak, too large or too awkward! Let us help you start feeling stronger and more confident today!!!</p>
    <!--<h4>
      Our Instructors
    </h4>
      <div class="container">
        <div id="instructor-list">
        <div data-ng-repeat="instructor in vm.instructors">
          <div class="col-md-6">
            <div class="card-deck rounded mt-5">
              <div class="card text-left rounded">
                <img class="card-img-top rounded thumbnail float-right" ng-src="{{instructor.picture}}" />
                <div class="card-block">
                  <h4 class="card-title">{{instructor.name}}</h4>
                  <p class="card-text">
                    {{instructor.bio}}
                  </p>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>-->
  </div>