<div class="container-fluid clearfix">
    <div class="header-container row rounded-top p-2 pl-3">
        <h1>Getting Started and FAQs</h1>
    </div>
    <div class="p-2">
        <p class="lead">Nervous about taking your first pole or aerial class?</p>
        <div class="">
            <img class="rounded m-2 thumbnail mx-auto d-block" src="/app/images/large/poleceiling2_lg.jpg" />
        </div>
        <p>It's normal to be nervous, but there is no reason to be! At Fort Wayne Aerial, we cultivate a supportive, nurturing
            environment for students at all levels; it doesn't matter if you've done some sort of dancing or gymnastics before,
            or if you've never done a push-up in your life, you will have to opprotunity to progress at a level and pace
            that is right for you. Everyone's journey is different!</p>
        <p>If you want some advice in preparing for your first class, we have a few tips:</p>
        <ul>
            <li>Wear whatever you're the most comfortable in! A lot of moves on the pole will require sleeveless shirts and shorts,
                but for your very first class, they might not be needed. A lot of our students wear leggings or sweatpants
                over their shorts.</li>
            <li>Be sure to bring a bottle of water (or two!) It's important to remain hydrated during these classes.</li>
            <li>DON'T apply lotion the day of (or even the night before) your class. This can cause you to not be able to stick
                to the pole very well.</li>
            <li>You might want to leave most of your jewelry at home--you'll be required to take off any rings, bracelets, anklets
                and body jewelry before using the pole.</li>
        </ul>
        <p>For other questions you may have, please take a look at our FAQ below!</p>
        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. What is a Pole Fitness Class?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. A Pole Fitness class is a great way to build strength and flexibility as well as gain self-confidence!
                        We incorporate dance moves, cardio workouts, stretching, pole tricks and more to give you a good
                        workout, while having fun!</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. What is the best way to sign up for a class?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. The best way to sign up for a class is to sign up for a MindBody Account. Visit https://clients.mindbodyonline.com
                        then search for Fort Wayne Aerial and make your payment and get registered! </p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. Can my boyfriend come watch?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. Not unless he is a student too! Pole class isn’t ‘cute’, and it’s not a show. We have many women who
                        come in here and work hard, and we don’t want them feeling uncomfortable having a stranger watch!</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. I don’t have any dance experience, can I still join?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. Yes! We are excited to share the world of pole dancing with everyone! Our multilevel program will
                        allow you to progress at your own pace!</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. What should I bring to my first class?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. Water, workout clothes, and a lot of energy! ..Oh! And your state ID.</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. Where are your classes located?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. We are currently offering classes at the Westland Mall off of the corner of Getz Road and W. Jefferson
                        Blvd.</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. How big are your classes?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. We have just moved to a larger studio space and will take up to 6 or 8 students per class depending
                        on the content that will be covered. We try to keep class ratios low. It is important to us to keep
                        our classes intimate for our students.</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. What kind of workout clothes should I wear?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. Some girls wear yoga pants to class, others wear booty shorts! Whatever you are comfortable in will
                        work best for you. The further you progress in pole the smaller your clothes will get! Your exposed
                        skin will help you stick to the pole!</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. Can I start after I lose 10lbs?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. There is no need to wait! Pole dancing is great for men and women of all sizes! You won’t be flipping
                        upside down for a while, and there are plenty of moves to do before your feet ever have to leave
                        the ground! These moves will not only help you build strength for more advanced pole moves, but can
                        also get you more excited to exercise regularly outside of pole so you can progress quicker!</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. Do I need heels?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. No. Students will be required to dance in bare feet. As you become more comfortable with pole dancing,
                        with instructor permission, you can start to bring your shoes for the ‘Free Expressions’ dance portion
                        of class.</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. I have some great heels I wore out to the club last weekend, can I use them?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. Unfortunately we do not allow ‘street shoes’ to be worn in the studio! But if you get a pair just
                        for pole dancing you are welcome to bring them!</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. I want to come in for a class and learn to Pole Dance so I can be a stripper, when is that class?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. Pole dancing is not something you can learn in one class. We do not have a class specifically for
                        ‘Dancers’ at this time, but you’re more than welcome to come join our regular class or you can book
                        a private lesson for more one on one help!</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. I am having trouble sticking to the pole when I come to class, why?! I swear it’s the weather!</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. MANY things can influence this, including the weather!! Most of the time issue can be solved if you
                        make sure you do NOT use lotion for up to 6 hours before your class. Tanning lotion included! But,
                        some days your body just does not want to stick to the pole! It happens.</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>Q. Are all of your students young and skinny?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. Not at all!!! Most of our students are between 25 and 35. We have all shapes and sizes here; everyone
                        is welcome and encouraged to join!!</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

        <div class="col-12 col-md-9 mx-auto d-block">
            <div class="card">
                <div class="card-header ">
                    <h5>I have additional questions about classes or parties. How do I get these answered?</h5>
                </div>
                <div class="card-block">
                    <p class="card-text">A. E-mail us at fwadance@gmail.com with either CLASSES or PARTY in the subject line and we will reply
                        with all the details as soon as possible!</p>
                </div>
            </div>
            <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
        </div>

    </div>
</div>