<div style="background-color:#282828;" class="rounded-top p-2 pl-3">
  <h1>Welcome to Fort Wayne Aerial</h1>
</div>
<div class="p-2">
  <p class="lead">Ready to try a new way to get fit?</p>
  <div class="">
    <img class="rounded m-2 thumbnail mx-auto d-block" src="/app/images/large/daniellepole1_lg.jpg" />
  </div>
  <p class="p-3">Fort Wayne Aerial brings the hottest trend in fitness to Fort Wayne. We bring the aerial arts to you with a focus in fitness
    and expression. Browse our class descriptions and schedules to join our aerial family today!
  </p>
  <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
  <div class="">
    <p class="p-3 text-center">
      Our class scheduling and purchasing is handled through MINDBODY. <b>To take a look at our current class schedule or sign up
    for a class, please visit our MINDBODY site.</b>
    </p>
    <img class="mx-auto d-block mb-2" ng-click="vm.navigateToMindBody()" style="border:none;" src="/app/images/API-download-white.png"
    />
    <div class="text-center mx-auto">
      <a class="btn btn-primary mx-auto mb-1" href="https://clients.mindbodyonline.com/classic/ws?studioid=854204&stype=-7&sView=week&sLoc=0">View our classes on MINDBODY!</a>
    </div>
  </div>
  <div class="hidden-lg-up">
    <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>
    <div class="text-center mx-auto">
      <!--<iframe id="getOurApp" scrolling="no" allowtransparency="true" src="https://clients.mindbodyonline.com/connect/appbutton?siteID=854204"
        style="border: none; width: 200px; height: 48px;"></iframe>-->
        <button class="btn btn-primary mx-auto mb-2" data-ng-click="vm.goToAppStore()">Get the MINDBODY app!</button>
      <p>
        <a data-toggle="collapse" data-target="#appHelp" aria-expanded="false" aria-controls="appHelp">App Help?</a>
      </p>
      <div class="collapse" id="appHelp">
        <div class="card card-block">
          First, click the button above to go to the app store page and download the MINDBODY app. Once in the app, you'll see a magnifying
          glass icon in the upper right corner. If you press it, you'll be able to search for a business name. Enter 'Fort
          Wayne Aerial' and hit enter or your search key (depending on your phone.) Touch the entry for Fort Wayne Aerial
          in the search results list.
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto d-block mb-1 mt-2 text-center" aria-hidden="true">&bull;&bull;&bull;</div>

</div>
<div class="mx-auto d-block mb-4 p-3">
  <p class="text-center">Fort Wayne Aerial can be found inside Jefferson Crossing (formerly the Westland Shopping Center), behind Umi Restaurant, off of W. Jefferson Blvd and Getz Rd
    in Fort Wayne, Indiana.</p>

  <div id="map" class="mb-2 rounded border-1 mx-auto d-block">
  </div>
  <h3 class="text-center">Come visit us today!</h3>
  <p class="text-center">6123 West Jefferson Blvd, Fort Wayne, IN 46804</p>
</div>

</div>
<script>
  function initMap() {
    var uluru = { lat: 41.058602, lng: -85.219905 };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqXQ1v61vewyIiBNUAxdmftaAO3eX8hQQ&callback=initMap">

</script>