  <div style="background-color:#282828;" class="rounded-top p-2 pl-5">
    <h1>Welcome to Fort Wayne Aerial</h1>
  </div>
  <div class="p-2">
    <p class="lead">Ready to try a new way to get fit?</p>
    <div class="">
      <img class="rounded m-2 thumbnail mx-auto d-block" src="/app/images/large/daniellepole1_lg.jpg" />
    </div>
    <p class="p-3">Fort Wayne Aerial brings the hottest trend in fitness to Fort Wayne. 
      We bring the aerial arts to you with a focus in fitness and expression. Browse our class descriptions and schedules to join our aerial family today!
    </p>
    <hr />
</div>
    </div> 
    <div class="mx-auto d-block mb-4 p-3"> 
          <p class="text-center">Fort Wayne Aerial can be found inside the Westland Centre, behind Umi Restaurant, off of W. Jefferson Blvd and Getz Rd in Fort Wayne, Indiana.</p>
    <p class="text-center">6123 West Jefferson Blvd, Fort Wayne, IN 46804</p>    
    <div id="map" class="mb-2 rounded border-1 mx-auto d-block">
    </div>
      <h3 class="text-center">Come visit us today!</h3>     
    </div>
    
  </div>
<script>
  function initMap() {
    var uluru = { lat: 41.058602, lng: -85.219905 };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqXQ1v61vewyIiBNUAxdmftaAO3eX8hQQ&callback=initMap">
</script>