<div class="container-fluid clearfix">
    <div class="header-container row rounded-top p-2 pl-5">
        <h1>Pole Parties</h1>
    </div>
    <div class="p-2">
      <div class="">
        <img class="rounded float-right" src="/app/images/bacheloretteparty.jpg" />
      </div>
        <p>
          Want something different for your bachelorette, birthday party or just a girl's night out?! We've got you covered. Get a group of friends together and prepare for a crazy time! Guests can choose between a basic Pole Party, or they can spice it up with a variety of options for a Themed Party.
          Sensual Dance Parties $150
          Pole Dance Parties $250
          Both cover up to 10 guests and get you private studio time and a sexy routine! We are currently booking for summer parties!! 
          Contact us at fwadance@gmail.com to schedule yours today!
        </p>
    </div>
</div>