<div class="container-fluid clearfix">
    <div class="header-container row rounded-top p-2 pl-5">
        <h1>Pole Parties</h1>
    </div>
    <div class="p-2">
      <p class="lead">Want something different for your bachelorette, birthday party or just a girl's night out?</p>
      <div class="">
        <img class="rounded m-2 thumbnail mx-auto d-block" src="/app/images/large/shoespole1_lg.jpg" />
      </div>
        <p>
          We've got you covered. Get a group of friends together and prepare for a crazy time! Guests can choose between a basic Pole Party, or they can spice it up with a variety of options for a Themed Party.</p>
          <ul>
          <li>Sensual Dance Parties: $150</li>
          <li>Pole Dance Parties: $250</li>
          </ul>
          <p>Both cover up to 10 guests and get you private studio time and a sexy routine!
          Contact us at fwadance@gmail.com to schedule yours today!
        </p>
    </div>
</div>